@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=PT+Mono&display=swap");
header {
  position: relative;
  z-index: 9;
  background: #fff;
}
header .content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #open_menu {
  cursor: pointer;
  background-image: url(../img/Menu.png);
  width: 37px;
  height: 18px;
}
@media screen and (min-width: 1920px) {
  header #logo {
    width: 240px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  header #logo {
    width: 19.8%;
  }
}
@media screen and (max-width: 767px) {
  header #logo {
    width: 38%;
  }
}
header #logo img {
  width: 100%;
}
header #phone {
  cursor: pointer;
}
@media screen and (min-width: 1920px) {
  header #phone {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(143deg, #F57350 23.05%, #F4512D 104.84%);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  }
}

#menu {
  background: #fff;
  position: absolute;
  left: 0;
  width: 375px;
  box-sizing: border-box;
  padding: 0 31px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  height: 0;
  overflow: hidden;
  transition: height 1s;
}
@media screen and (min-width: 768px) {
  #menu {
    top: calc(100% + 60px);
  }
}
@media screen and (max-width: 767px) {
  #menu {
    width: 100%;
    top: calc(100% + 28px);
  }
}
#menu.open {
  height: 404px;
}
@media screen and (max-width: 767px) {
  #menu.open {
    height: 359px;
  }
}
#menu li {
  list-style: none;
  border-left: 3px solid #000;
  padding-left: 12px;
  font-family: Lora;
  font-size: 28px;
  margin-top: 25px;
}
@media screen and (max-width: 767px) {
  #menu li {
    font-size: 20px;
  }
}
#menu li.this_page {
  border-color: #F4512D;
}
#menu li a {
  font-size: inherit;
  font-weight: 400;
}
#menu button {
  margin-top: 44px;
}
#menu button:last-child {
  margin-bottom: 41px;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  footer .content {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  footer .content {
    text-align: center;
  }
}
footer .big {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  footer .big {
    font-size: min(2.9vw, 28px);
  }
}
footer #tel {
  font-size: 36px;
  color: #F4512D;
}
@media screen and (min-width: 1920px) {
  footer #tel {
    font-size: 38px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  footer #tel {
    font-size: min(3.9vw, 36px);
  }
}
@media screen and (min-width: 1920px) {
  footer #footer_right {
    display: flex;
    -moz-column-gap: 80px;
         column-gap: 80px;
  }
}
@media screen and (max-width: 767px) {
  footer #footer_right {
    margin-top: 20px;
  }
}
footer #footer_adres * {
  opacity: 0.4;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  footer #footer_adres * {
    font-size: 14px;
  }
}
footer #footer_adres a {
  display: block;
  transition: 0.6s;
}
footer #footer_adres a:hover {
  opacity: 1;
}
footer #icons {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media screen and (max-width: 1919px) {
  footer #icons {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  footer #icons {
    justify-content: center;
  }
}
footer #icons a {
  position: relative;
  transition: 0.6s;
}
footer #icons a:hover {
  top: -10px;
}

#block_shadow {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
#block_shadow > div {
  display: none;
  width: min(428px, 100vw - 40px);
  position: relative;
}

.block_form {
  background: #fff;
  box-sizing: border-box;
  padding: 40px 35px;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}
.block_form .h_form {
  font-size: 24px;
  letter-spacing: 0.24px;
  text-align: center;
}
.block_form form {
  padding: 0 22px;
}
.block_form form * {
  position: relative;
}
.block_form *:not(.a_button) {
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.block_form input:not(.a_button), .block_form select {
  background: rgba(0, 0, 0, 0);
  padding: 10px 20px;
  font-size: 15px;
  line-height: 30px;
  border-radius: 3px;
  border: 1px solid #CECECE;
  z-index: 2;
}
.block_form input:not(.a_button)::-moz-placeholder, .block_form select::-moz-placeholder {
  color: #ABABAB;
}
.block_form input:not(.a_button)::placeholder, .block_form select::placeholder {
  color: #ABABAB;
}
.block_form select {
  color: #ABABAB;
}
.block_form select + .placeholder_text {
  display: none;
}
.block_form [type=date], .block_form [type=time] {
  color: rgba(0, 0, 0, 0);
}
.block_form [type=date]:focus, .block_form [type=time]:focus {
  color: #000;
}
.block_form [type=date]:focus + .placeholder_text, .block_form [type=time]:focus + .placeholder_text {
  opacity: 0;
}
.block_form option {
  color: #000;
}
.block_form option[disabled] {
  display: none;
}
.block_form .placeholder_text {
  padding: 10px 20px;
  font-size: 15px;
  line-height: 30px;
  z-index: 1;
  color: #ABABAB;
  position: absolute;
  top: 0;
}
.block_form label {
  line-height: 30px;
  font-size: 18px;
  margin: 14px 0 2px;
}
.block_form .a_button {
  background: none;
  margin: 24px auto 0;
}
.block_form .a_button[disabled] {
  opacity: 0.4;
  cursor: default;
}

.close {
  background: #000;
  border-radius: 50%;
  border: 2px solid #fff;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -14px;
  right: -14px;
  cursor: pointer;
}

#post_form {
  font-family: Lora;
  font-size: 22px;
  box-sizing: border-box;
  padding: 40px 35px;
  text-align: center;
  background: #fff;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

#preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: fixed;
  inset: 0;
  z-index: 99999;
  text-align: center;
  transition: 400ms;
}

* {
  padding: 0;
  margin: 0;
  font: 400 16px "PT Mono";
}
@media screen and (min-width: 1920px) {
  * {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  header, main > div:not(.block100), footer {
    padding: 60px;
  }
}
@media screen and (max-width: 767px) {
  header, main > div:not(.block100), footer {
    padding: 28px 30px;
  }
}

[class^=content]:not(.block100 .content) {
  margin: auto;
}
@media screen and (min-width: 1920px) {
  [class^=content]:not(.block100 .content) {
    width: 1200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  [class^=content]:not(.block100 .content) {
    max-width: 824px;
  }
}
@media screen and (max-width: 767px) {
  [class^=content]:not(.block100 .content) {
    max-width: 315px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1919px) {
  p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1919px) {
  .yes_xl {
    display: none;
  }
}

@media screen and (min-width: 1920px) {
  .no_xl {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .no_mob {
    display: none;
  }
}

.backg_g {
  background: #F9F9F9;
}

.content .mouse p, h2, .big, .img > p, .a_button, a, h1, .block_form .h_form {
  font-family: Lora;
  font-weight: 700;
}

@media screen and (min-width: 1920px) {
  h1 {
    font-size: 56px;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 35px;
  }
}

a {
  color: #000;
  text-decoration: none;
}

.a_button {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 14px 20px;
  border: 2px solid #000;
  font-size: 14px;
  background: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  .a_button {
    text-wrap: nowrap;
  }
}

.img > img, .img picture * {
  width: 100%;
}
.img > p {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  font-style: italic;
}

@media screen and (min-width: 1920px) {
  h2, .big {
    font-size: 48px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  h2, .big {
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  h2, .big {
    font-size: 24px;
  }
}

.line {
  width: 51px;
  height: 4px;
  margin: 20px 0;
  background: #000;
}
@media screen and (min-width: 1920px) {
  .line {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .line {
    margin: 20px auto;
  }
}

.border_red {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px dashed #E44D26;
  margin-top: 20px;
}
@media screen and (min-width: 1920px) {
  .border_red {
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .border_red {
    margin-inline: auto;
  }
}

.block100 .content {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 767px) {
  .block100 .content {
    max-width: 500px;
  }
}
.block100 .content img {
  width: 100%;
}

.content .mouse {
  position: absolute;
  text-align: center;
  right: calc(50% - 63.7px);
  bottom: 25px;
}
@media screen and (min-width: 1920px) {
  .content .mouse {
    bottom: 65px;
  }
}
.content .mouse img {
  width: auto;
}
.content .mouse p {
  color: #fff;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  #map {
    aspect-ratio: 64/17;
  }
}
@media screen and (max-width: 767px) {
  #map {
    aspect-ratio: 5/4;
  }
}
#map iframe {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1920px) {
  .big {
    font-size: 28px;
  }
}/*# sourceMappingURL=style.css.map */