@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=PT+Mono&display=swap");
header {
  background: #fff;
}
header .content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #open_menu {
  cursor: pointer;
  background-image: url(../img/Menu.png);
  width: 37px;
  height: 18px;
}
@media screen and (min-width: 1920px) {
  header #logo {
    width: 240px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  header #logo {
    width: 19.8%;
  }
}
@media screen and (max-width: 767px) {
  header #logo {
    width: 38%;
  }
}
header #logo img {
  width: 100%;
}
header #phone {
  cursor: pointer;
}
@media screen and (min-width: 1920px) {
  header #phone {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(143deg, #F57350 23.05%, #F4512D 104.84%);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  }
}

#menu {
  background: #fff;
  position: absolute;
  left: 0;
  width: 375px;
  box-sizing: border-box;
  padding: 0 31px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  height: 0;
  overflow: hidden;
  transition: height 1s;
}
@media screen and (min-width: 768px) {
  #menu {
    top: calc(100% + 60px);
  }
}
@media screen and (max-width: 767px) {
  #menu {
    width: 100%;
    top: calc(100% + 28px);
  }
}
#menu.open {
  height: 375px;
}
@media screen and (max-width: 767px) {
  #menu.open {
    height: 330px;
  }
}
#menu li {
  list-style: none;
  border-left: 3px solid #000;
  padding-left: 12px;
  font-family: Lora;
  font-size: 28px;
  margin-top: 25px;
}
@media screen and (max-width: 767px) {
  #menu li {
    font-size: 20px;
  }
}
#menu li.this_page {
  border-color: #F4512D;
}
#menu li a {
  font-size: inherit;
  font-weight: 400;
}
#menu > a {
  margin-top: 15px;
}
#menu > a:last-child {
  margin-bottom: 41px;
}

body {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  font: 400 16px "PT Mono";
}
@media screen and (min-width: 1920px) {
  * {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  header, main > div:not(.block100), footer {
    padding: 60px;
  }
}
@media screen and (max-width: 767px) {
  header, main > div:not(.block100), footer {
    padding: 28px 30px;
  }
}

[class^=content]:not(.block100 .content) {
  margin: auto;
}
@media screen and (min-width: 1920px) {
  [class^=content]:not(.block100 .content) {
    width: 1200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  [class^=content]:not(.block100 .content) {
    max-width: 824px;
  }
}
@media screen and (max-width: 767px) {
  [class^=content]:not(.block100 .content) {
    max-width: 315px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1919px) {
  p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1919px) {
  .yes_xl {
    display: none;
  }
}

@media screen and (min-width: 1920px) {
  .no_xl {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .no_mob {
    display: none;
  }
}

.backg_g {
  background: #F9F9F9;
}

.content .mouse p, h2, .img > p, a, h1 {
  font-family: Lora;
  font-weight: 700;
}

@media screen and (min-width: 1920px) {
  h1 {
    font-size: 56px;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 35px;
  }
}

a {
  color: #000;
  text-decoration: none;
}

.a_button {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 14px 20px;
  border: 1px solid #000;
  font-size: 14px;
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  .a_button {
    text-wrap: nowrap;
  }
}

.img > img {
  width: 100%;
}
.img > p {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  font-style: italic;
}

@media screen and (min-width: 1920px) {
  h2 {
    font-size: 48px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 24px;
  }
}

.border_red {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px dashed #E44D26;
  margin-top: 20px;
}
@media screen and (min-width: 1920px) {
  .border_red {
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .border_red {
    margin-inline: auto;
  }
}

.block100 .content {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.block100 .content img {
  width: 100%;
}

.content .mouse {
  position: absolute;
  text-align: center;
  right: calc(50% - 63.7px);
  bottom: 25px;
}
@media screen and (min-width: 1920px) {
  .content .mouse {
    bottom: 65px;
  }
}
.content .mouse img {
  width: auto;
}
.content .mouse p {
  color: #fff;
  font-size: 16px;
}/*# sourceMappingURL=style.css.map */