header{
   position: relative;
   z-index: 9;
   background: #fff;
   
   .content{
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   #open_menu{
      cursor: pointer;
      background-image: url(../img/Menu.png);
      width: 37px;
      height: 18px;
   }
   #logo{
      @include xl {
         width: 240px;
      }
      @include t {
         width: 19.8%;
      }
      @include mob {
         width: 38%;
      }
      img{
         width: 100%;
      }
   }
   #phone{
      cursor: pointer;
      @include xl {
         width: 60px;
         height: 60px;
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 50%;
         background: linear-gradient(143deg, #F57350 23.05%, #F4512D 104.84%);
         box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
      }
   }
}

#menu{
   background: #fff;
   position: absolute;
   left: 0;
   width: 375px;
   box-sizing: border-box;
   padding: 0 31px;
   box-shadow:0px 4px 8px rgba(0, 0, 0, 0.25);
   height: 0;
   overflow: hidden;
   transition: height 1s;
   @include t-u {
      top: calc(100% + 60px);
   }
   @include mob {
      width: 100%;
      top: calc(100% + 28px)
   }
   &.open{
      height: 375px;
      @include mob {
         height: 330px;
      }
   }
   li{
      list-style: none;
      border-left: 3px solid #000;
      padding-left: 12px;
      font-family: Lora;
      font-size: 28px;
      margin-top: 25px;
      @include mob {
         font-size: 20px;
      }
      &.this_page{
         border-color: #F4512D;
      }
      a{
         font-size: inherit;
         font-weight: 400;
      }
   }


   button{
      margin-top: 15px;
      &:last-child{
         margin-bottom: 41px;
      }
   }
}

footer{
   .content{
      @include t-u {
         display: flex;
         justify-content: space-between;
      }
      @include mob {
         text-align: center;
      }
   }
   .big{
      margin-bottom: 20px;
      @include t {
         font-size: min(2.9vw, 28px);
      }
   }
   #tel{
      font-size: 36px;
      color: #F4512D;
      @include xl {
         font-size: 38px;
      }
      @include t {
         font-size: min(3.9vw, 36px);
      }
   }
   #footer_{
      &right{
         @include xl {
            display: flex;
            column-gap: 80px;
         }
         @include mob {
            margin-top: 20px;
         }
      }
      &adres{
         *{
            opacity: 0.4;
            line-height: 30px;
            font-size: 16px;
            font-weight: 400;
            @include mob {
               font-size: 14px;
            }
         }
         a{
            display: block;
            transition: 0.6s;
            &:hover{
               opacity: 1;
            }
         }
      }
   }
   #icons{
      display: flex;
      column-gap: 20px;
      @include mob-and-t {
         margin-top: 20px;
      }
      @include mob {
         justify-content: center;
      }
      a{
         position: relative;
         transition: 0.6s;
         &:hover{
            top: -10px;
         }
      }
   }
}