@import "_medias.scss";

[class^="content"]{
   @include t-u {
      display: flex;
      justify-content: space-between;
   }
   &:not(.content1, header .content){
      align-items: center;
      @include mob {
         text-align: center;
      }
   }

}
h1{
   @include t {
      font-size: min(4.17vw, 42px);
      margin-bottom: 15px;
   }
}
.line{
   width: 51px;
   height: 4px;
   margin: 20px 0;
   background: #000;
   @include xl {
      margin-bottom: 30px;
   }
   @include mob {
      margin: 20px auto;
   }
}
.content{
   &1{
      .block_text{
         width: clamp(315px, 48%, 514px);
         @include xl {
            margin-top: 100px;
            margin-right: -5px;
         }
         @include t {
            margin-top: calc(900% / 22 - 3158px / 11);
         }
         p{
            @include xl {
               padding-right: 8px;
            }
            @include t-u {
               font-size: 18px;
            }
         }
         div{
            @include t-u {
               display: flex;
               column-gap: 20px;
               margin-top: 26px;
               min-width: 364px;
            }
            @include mob {
               margin-top: 5px;
            }
         }
         a{
            display: block;
            width: fit-content;
            padding: 14px 20px;
            border: 1px solid #000;
            font-size: 14px;
            @include t {
               text-wrap: nowrap;
            }
            @include mob {
               margin-top: 15px;
            }
         }
      }
      #courses{
         margin-top: -60px;
         @include xl {
            margin-right: -360px;
         }
         @include t {
            width: 76.7%;
            margin-right: calc((100% - 100vw) / 2);
            margin-left: -11%;
         }
      } 
   }
   &2{
      flex-direction: row-reverse;
      @include t {
         padding-top: calc(-2500% / 176 + 2575px / 22);
      }
      @include mob {
         margin-top: 50px;
      }
      .block_text{
         @include xl {
            width: 610px;
         }
         @include t {
            width: 49.5%;
         }
         h2{
            @include mob {
               font-size: 28px;
               margin-top: 10px;
            }
         }
      }
      .img{
         @include xl {
            width: 435px;
         }
         @include t {
            width: 44%;
            flex-shrink: 0;
         }
      }
   }

   &4{
      flex-direction: row-reverse;
      @include t {
         justify-content: flex-end;
         column-gap: 9%;
      }
      .block_text{
         @include xl {
            width: 487px;
         }
         @include t {
            width: 364px;
         }
      }
      h2{
         @include t {
            text-wrap: nowrap;
         }
      }
      p{
         @include t {
            padding-right: 20px;
         }
      }
      .img{
         @include xl {
            width: 469px;
         }
         @include t {
            width: 34.2%;
         }
      }
   }
}