@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "_medias.scss";
@import "_header_and_footer.scss";

*{
   padding: 0;
   margin: 0;
   font: 400 16px "PT Serif";
}
header, footer{
   @include t-u {
      padding: 60px;
   }
   @include mob {
      padding: 28px 30px;
   }
}

.content{
   margin: auto;

   @include xl {
      width: 1200px;
   }
   @include t {
      max-width: 824px;
   }
}
.yes_xl{
   @include mob-and-t {
      display: none;
   }
}
.no_xl{
   @include xl {
      display: none;
   }
}