@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=PT+Mono&display=swap');
@import "_medias.scss";
@import "_header_and_footer.scss";

*{
   padding: 0;
   margin: 0;
   font: 400 16px "PT Mono";

   @include xl {
      font-size: 24px;
   }
}
header, main>div, footer{
   @include t-u {
      padding: 60px;
   }
   @include mob {
      padding: 28px 30px;
   }
}

[class^="content"]{
   margin: auto;

   @include xl {
      width: 1200px;
   }
   @include t {
      max-width: 824px;
   }
   @include mob {
      max-width: 315px;
   }
}
p{
   @include t {
      font-size: 16px;
   }
}

.yes_xl{
   @include mob-and-t {
      display: none;
   }
}
.no_xl{
   @include xl {
      display: none;
   }
}
.no_mob{
   @include mob {
      display: none;
   }
}

.backg_g{
   background: #F9F9F9;
}

%Lora{
   font-family: Lora;
   font-weight: 700;
}

h1{
   @extend %Lora; 

   @include xl {
      font-size: 56px;
      margin-bottom: 35px;
   }
   @include mob {
      font-size: 35px
   }
}
a{
   @extend %Lora;
   color: #000;
   text-decoration: none;
}

.img{
   img{
      width: 100%;
   }
   p{
      @extend %Lora;
      text-align: center;
      color: rgba(0, 0, 0, 0.7);
      font-style: italic;
   }
}

h2{
   @extend %Lora;
   @include xl {
      font-size: 48px;
   }
   @include t {
      font-size: 28px;
   }
   @include mob {
      font-size: 24px;
   }
}

.border_red{
   display: block;
   width: fit-content;
   border-bottom: 1px dashed #E44D26;
   margin-top: 20px;
   @include xl {
      margin-top: 30px;
   }
}